@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
/* || Header */
@media (min-width: 973px) {
    .header-container {
        border-bottom-left-radius: 5em;
        border-bottom-right-radius: 5em;
        border: none;
        background: linear-gradient(180deg, #efeef4 0%, rgba(249, 249, 249, 0.29) 50%),
            url('../images/contact-bg.jpg');
        background-size: cover;
        background-position: center;
    }
    /* Start opening part */
    .opening-part {
        display: grid;
        row-gap: 20px;
        padding: 10% 9%;
        margin-right: 40%;
        margin-top: 40px;
        font-size: 1rem;
    }
    .opening-adver {
        font-size: 4.26em;
        font-weight: 500;
        color: #2b2f38;
    }
    /* Start opening part */
    .opening-part {
        display: grid;
        padding-left: 5%;
        margin-right: 40%;
        margin-top: 3em;
        padding-bottom: 15%;
        font-size: 1rem;
    }
    .opening-adver {
        font-weight: 500;
        color: #2b2f38;
    }
    @media (min-width: 600px) and (max-width: 972px){
        .opening-adver {
            font-size: 2em;
        }
        .opening-part {
            padding-top: 15%;
        }
    }
    @media (max-width: 600px){
        .opening-adver {
            font-size: 1.7em;
        }
        .opening-part {
            padding-top: 20%;
        }
    }
    /* End opening part */
}
@media (max-width: 972px) {
    .header-container {
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
        border: none;
        background: linear-gradient(180deg, #efeef4 0%, rgba(249, 249, 249, 0.29) 50%),
            url('../images/contact-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: center;
        object-position: center;
    }
    /* Start opening part */
    .opening-part {
        display: grid;
        padding-left: 5%;
        margin-right: 40%;
        margin-top: 3em;
        padding-bottom: 15%;
        font-size: 1rem;
    }
    .opening-adver {
        font-weight: 500;
        color: #2b2f38;
    }
    @media (min-width: 600px) and (max-width: 972px) {
        .opening-adver {
            font-size: 2em;
        }
        .opening-part {
            padding-top: 15%;
        }
    }
    @media (max-width: 600px){
        .opening-adver {
            font-size: 1.7em;
        }
        .opening-part {
            padding-top: 20%;
        }
    }
    /* End opening part */
}

/*|| Start contact details information*/
.contact-detail-container {
    display: flex;
    background-color: #F9F9F9;
}
.contact-detail {
    flex: 1;
    display: flex;
}
.contact-info {
    display: grid;
    padding-bottom: 1.8em;
}
.contact {
    display: flex;
    flex-direction: row;
}
@media (min-width: 1223px) {
    .contact-detail-container {
        flex-direction: row;
        padding: 7% 7% 7% 9%;
    }
    .contact-detail {
        flex-direction: column;
    }
    .contact-info {
        grid-template-columns: 1fr 1fr;
    }
    .contact {
        gap: 1.8em;;
    }
    .contact-map {
        width: 35%; 
    }
    .contact-map iframe {
        width: 100%;
        height: 80vh;
    }
}
@media (min-width: 1024px)  and (max-width: 1223px) {
    .contact-detail-container {
        flex-direction: row;
        padding: 4% 4% 4% 6%;
    }
    .contact-detail {
        flex-direction: column;
    }
    .contact-info {
        grid-template-columns: 1fr 1fr;
    }
    .contact {
        gap: 1.8em;;
    }
    .contact-map {
        width: 35%; 
    }
    .contact-map iframe {
        width: 100%;
        height: 80vh;
    }
}
@media (min-width: 767px)  and (max-width: 1024px) {
    .contact-detail-container {
        flex-direction: column;
        padding: 2% 2% 2% 4%;
    }
    .contact-detail {
        flex-direction: column;
    }
    .contact-info {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contact {
        gap: 1.5em;
    }
    .contact-map {
        width: 100%;
    }
    .contact-map iframe {
        width: 100%;
        height: 40vh;
    }
}
@media (max-width: 767px) {
    .contact-detail-container {
        flex-direction: column;
        padding: 2% 2% 2% 4%;
    }
    .contact-detail {
        flex-direction: column;
    }
    .contact-info {
        grid-template-columns: 1fr;
        gap: 2em;
    }
    .contact {
        gap: 1.2em;
    }
    .contact-map {
        width: 100%;
    }
    .contact-map iframe {
        width: 100%;
        height: 40vh;
    }
}
.contact i {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.contact-detail-container h3 {
    font-size: 1.2em;
    font-weight: 500;
    color: #2b2f38;
    display: inline-block;
    margin-bottom: 1em;
}
.contact-detail h4 {
    font-size: 1em;
    font-weight: 500;
    color: #2b2f38;
    display: inline-block;
    margin: 0;
}
.info-container p {
    font-size: 0.8em;
    color: #5d6167;
    margin: 10px 0;
}
.contact-send-meassage {
    max-width: 80%;
    border-top: 1px solid rgba(0,0,0,0.05);
    padding-top: 1.8em;
}
.contact-send-meassage input, textarea {
    font-size: 0.8em;
    font-family: inherit;
    display: block;
    padding: 0.6em 0.6em;
    width: 100%;
    margin: 1.2em 0;
    border: 1px solid rgba(0,0,0,0.15);
    outline: none;
}
.contact-send-meassage input:focus, textarea:focus {
    border: 1px dotted rgba(0, 0, 0, .15);
}
.send-meassage-btn {
	font-family: inherit;
    font-size: .9em;
    background-color: #fc5f5f;
    border: none;
    padding: 0.7em 1.4em;
    border-radius: 1.4em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.send-meassage-btn:hover {
    background-color: #75C32C;
}
.map-navigation {
    text-decoration: none;
    color: #FC5F5F;
    font-size: 0.7em;
    font-weight: 550;
    letter-spacing: 1px;
    transition: all .5s;
}
.map-navigation:hover {
	color: #75C32C;
}
/*End contact details information*/